body{
    max-width: 1400px;
}
@mixin center-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
@import 'navbar';
@import 'post';
@import 'menuleft';
@import 'rigthbar';
@import 'newpost';