/*************
COLORES 
*****************/
$white: #fff;
$black:#000;
$background-gray: #EEF0F1;
$gray-hover: #E2E4E5;
$gray-icon: #64707D;
$gray-icon-hover: #4D5760;
$gray-save: #D2D6DB;
$gray-save-hover: #B5BDC4;
$blue-primary: #3B49DF;
$blue-button-hover: #3643CE;
$blue-text-hover: #323EBE;