/*************
COLORES 
*****************/
#logo {
  height: 40px;
  width: auto;
}

#avatar {
  height: 40px;
  width: auto;
}

.img-navbar:hover {
  fill: rgba(0, 0, 0, 0.75);
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  cursor: pointer;
  background-color: white;
  color: white;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  -webkit-transition: margin-left .5s;
  transition: margin-left .5s;
  padding: 16px;
}

.navbar-header {
  color: black;
}

/*************
COLORES 
*****************/
#aside-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 235px;
  min-width: 235px;
  background-color: #FFF;
  display: none;
  font-size: 16px;
  background-color: transparent;
  border-radius: 3px;
}

#aside-left h3 {
  margin: 0;
}

.myTag {
  width: 150px;
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myTagsvg:hover {
  fill: rgba(0, 0, 0, 0.45);
}

.lista {
  list-style: none;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.lista li {
  cursor: pointer;
  margin: 5px 10px;
  width: 150px;
  padding: 5px 0;
  border-radius: 3px;
}

.lista li:hover {
  background-color: rgba(8, 9, 10, 0.05);
}

.social-media-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-media-icons img {
  padding: 0 15px;
  width: 25px;
  padding: 0 5px;
}

.social-media-icons img:hover {
  fill: rgba(0, 0, 0, 0.45);
}

/*************
COLORES 
*****************/
.create-post-inner {
  background-color: #EEF0F1;
}

li {
  list-style: none;
}

.closeHashtag {
  float: right;
  background-color: #64707D;
  color: #fff;
  cursor: pointer;
  margin: 0 10px;
  border-radius: 30%;
}

.hashtagsPosts {
  color: #64707D;
  font-size: 12px;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}
/*# sourceMappingURL=styles.css.map */